<p>I&nbsp;am&nbsp;an Associate Professor of <a href="https://www.vanderbilt.edu/ees/" target="_blank">Earth &amp; Environmental Science</a>
and <a href="https://engineering.vanderbilt.edu/cee/" target="_blank">Civil &amp; Environmental Engineering</a>
at <a href="https://www.vanderbilt.edu">Vanderbilt University</a>.</p>
<p>I'm affiliated with the <a href="https://www.vanderbilt.edu/viee/" target="_blank">Vanderbilt Institute for Energy &amp; Environment</a>,
the <a href="https://law.vanderbilt.edu/academics/academic-programs/environmental-law/climate-change-network/" target="_blank">Vanderbilt Climate Change Research Network</a>,
the <a href="https://www.vanderbilt.edu/visor/" target="_blank">Vanderbilt Initiative for Smart Cities Operations Research</a>,
and the <a href="https://erdosinstitute.org" target="_blank">Erd&#337;s Institute for Collaboration, Innovation, and Entrepreneurship</a>.</p>
